#title {
    font-family: 'Noto Serif JP', serif;  /* 日本語用のフォント */
    text-align: center;
    font-size: 4rem;  /* タイトルを大きくしてインパクトを出す */
    margin-top: 50px;
    color: #333; /* ダークグレーでクールな雰囲気 */
    letter-spacing: 0.05em; /* 文字間を少し広げて読みやすく */
}


#timerContainer {
    background-color: #333;  /* 共通の背景色 */
    color: #fff;  /* 文字色を白に */
    text-align: center;
    padding: 10px 20px 20px 20px;  /* 上だけ10px、左右と下は20px */
    margin-top: 20px;  /* 上方向に少し余白を追加 */
}

#roundInfo {
    font-family: 'Noto Serif JP', serif;  /* 日本語用のフォント */
    font-size: 1.5rem; /* ラウンド情報を少し大きめにして視認性をアップ */
    margin-top: 5px;  /* 上方向のマージンを少しにする */
}

#countdown {
    font-family: 'Lobster', cursive;  /* 筆記体のクールなフォント */
    font-size: 8rem;
    line-height: 0.6;  /* フォントの縦方向の余白を調整 */
    margin: 0;  /* カウントダウンとラウンドの間の余白をなくす */
    padding-bottom: 20px;  /* 下方向にパディングを追加 */
}

#elapsedTime {
    font-family: 'Lobster', cursive;  /* 筆記体のクールなフォント */
    text-align: center;
    font-size: 2rem; /* 累計の経過時間を強調 */
    margin-top: 10px; /* ストップボタンの下に余白を追加 */
    color: #333; /* グレー */
}

button {
    display: block;
    margin: 30px auto; /* ボタン間の余白を30pxに設定 */
    padding: 15px 30px; /* ボタンを大きくして操作しやすくする */
    font-size: 1.5rem;
    color: #fff; /* 白で文字を目立たせる */
    background-color: #333; /* ボタンをダークグレーでクールに */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* ストップボタンのスタイルを反転 */
#stopButton {
    background-color: #fff; /* 背景を白に */
    color: #333; /* 文字色をダークグレーに */
    border: 2px solid #333; /* ボーダーをつけることでより明確に */
}

#stopButton:hover {
    background-color: #333; /* ホバー時に背景色をダークグレーに */
    color: #fff; /* 文字色を白に反転 */
}


button:hover {
    background-color: #FF5722; /* ホバー時にオレンジで強調 */
}

#description {
    text-align: center;
    margin: 10px auto;
    font-size: 1rem;
    color: #666; /* 説明文を少し淡いグレーにして目立ちすぎないように */
    max-width: 600px;
    line-height: 1.6;
}

