#countdown {
    font-size: 3rem;
    text-align: center;
    margin: 20px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1.5rem;
}

#roundInfo {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 10px;
}
